[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-redis-cache"]
	path = vendor-local/src/django-redis-cache
	url = git://github.com/sebleier/django-redis-cache.git
