body {
    background:#a0d8ef;
}

em {
    font-weight:bold;
    font-style:normal !important;
}

header {
    padding-top:2em;
    padding-bottom:2em;
    font-variant:small-caps;
}

.large {
    font-size:3em;
}

#machinestatus {
   height: 250px;
   margin-bottom: 2em;
}

#DataTables_Table_0_previous {
    margin-left: 10px;
}

#DataTables_Table_0_next {
    margin-left: 10px;
}

.paginate_disabled_previous {
    color: gray !important;
}

.paginate_disabled_next {
    color: gray !important;
}
