body {
    background:#a0d8ef;
}

em {
    font-weight:bold;
    font-style:normal !important;
}

header {
    padding-top:2em;
    padding-bottom:2em;
    font-variant:small-caps;
}

header .error {
    border-color: rgb(185, 74, 72) !important;
}

.large {
    font-size:3em;
}

.inline {
    display: inline !important;
}

#machinestatus {
   height: 250px;
   margin-bottom: 2em;
}

.paginate_active {
    padding: .6em;
    font-weight: bold;
}

.paginate_button {
    padding: .6em;
}

.paginate_disabled_previous {
    color: gray !important;
}

.paginate_disabled_next {
    color: gray !important;
}

.dataTables_length select {
    display: inline !important;
}
