<!DOCTYPE html>
<html LANG="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>{% block page_title %}Hey build farm, what are the haps?{% endblock %}</title>
    {% block site_css %}
      {{ css('common_css') }}
    {% endblock %}
  </head>
  <body>
    <div class="container">
    <header class="row">
        {% block header %}
        <div class="span8">
          <h1 class="large">RelEng Dashboard</h1>
        </div>
        {% endblock %}
    </header>
    <section class="row">
      {% block content %}

      {% endblock %}
    </section>
    <footer class="row">
      {% block footer %}
        <div class="span8">
          <em>Mozilla RelEng Dashboard</em> - Powered by <a href="https://github.com/Lonnen/Bramble">Bramble</a>
        </div>
      {% endblock %}
    </footer>
    </div>

    {% block site_js %}
      {{ js('common_js') }}
    {% endblock %}
  </body>
</html>
